/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Main 
    5. Footer

*/

/* 1. ---General Styles--- */

.hidden {
    display: none;
}

.container {
    width: 1920px;
    margin: 0 auto;
}

.box-color {
    background-color: #3E1515;
    color: #fff;
    text-align: center;
}

.box-color2 {
    background-color: #AA8888;
    color: white;
    text-align: center;
}

.box-color3 {
    background-color: #5F3E3E;
    color: white;
    text-align: center;
}


/* 2. ---Grid--- */

.grid {
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(12, 122px);
    grid-column-gap: 16px;
}

/* 3. ---Header--- */

#header-logo {
    width: 142px;
    height: 71px;
    margin-top: 40px;
    margin-left: 40px;
}

#header-nav {
    width: 215px;
    height: 71px;
    margin-top: 40px;
    margin-left: 200px;
    grid-column: 11/-1;
}

#hero-text {
    width: 684px;
    height: 622px;
    margin-top: 80px;
    margin-left: 40px;

}

#hero-animation {
    width: 971px;
    height: 708px;
    margin-top: 30px;
    grid-column: 7/13;
    
}
#main-header{
    background-color: #3E1515;
    height: 1080px;
    margin-right: 50px;
}


#product-box {
    margin-top: 150px;
}


#product-des {
    width: 684px;
    height: 417px;
    grid-column: 1/-7;
    margin-top: 80px;
    margin-left: 34px;
}

#product-img {
    width: 971px;
    height: 557px;
    grid-column: 7/13;
}

#video {
    margin-top: 150px;
}

#video-play {
    width: 971px;
    height: 572px; 
    margin-left: 30px;
}

#video-text {
    width: 648px;
    height: 471px;
    grid-column: 8/13;
    margin-left: 190px;
    margin-top: 55px;
}

#info {
    width: auto; 
    height: 766px; 
    background-color: #4D1616;
    text-align: center;
    margin-top: 170px;
} 


#main-info {
    width: 809px;
    height: 265px;
    margin-left: 40px;
    margin-top: 220px;
}

main {
    margin-bottom: 50px;
    margin-top: 20px;
}

footer {
    height: 380px;
    background-color: #4D1616;
}

#footer-logo {
    width: 142px;
    height: 71px;
    margin-top: 50px;
    margin-left: 40px;
}

#nav-footer {
    width: 558px;
    height: 71px;
    margin-top: 50px;
    grid-column: 3/6;
}

#text-footer {
    width: 786px;
    height: 251px;
    grid-column: 8/13;
    margin-top: 50px;
    margin-left: 40px;
}